
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Trang chủ</title>
	@Styles.Render("~/Content/css")
</head>
<body>
	<div class="container w-50">
		<ul class="list-group">
			<li class="list-group-item">
				<a href="/Home/DangKyThanhVien">Đăng ký thành viên</a>
			</li>
			<li class="list-group-item">
				<a href="/Home/DangKyKhachHang">Đăng ký khách hàng</a>
			</li>
			<li class="list-group-item">
				<a href="/Home/HoSoDangKy">Hồ sơ đăng ký</a>
			</li>
		</ul>
	</div>
	@Scripts.Render("~/bundles/bootstrap")

</body>
</html>
