
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Chào mừng</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container mt-1">
		<div class="h-100 p-5 bg-light border rounded-3">
			<h1>Chào mừng bạn @ViewBag.Username đến với diễn đàn ASP.Net</h1>
			<a class="btn btn-primary mt-5" href="/Login">Quay về trang đăng nhập</a>
		</div>
	</div>
	<script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
