@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container w-50 mt-1 px-1">
		<form class="border rounded p-2">
			<h1 class="text-center text-uppercase">Tính toán</h1>
			<div class="mb-3 row">
				<label for="n" class="col-md-2 col-form-label fw-bold">Số n: </label>
				<div class="col-md-10">
					<input type="number" required name="n" class="form-control" id="n" value="">
				</div>
			</div>
			<div class="mb-3 row">
				<label for="m" class="col-md-2 col-form-label fw-bold">Số m: </label>
				<div class="col-md-10">
					<input type="number" required name="m" class="form-control" id="m" value="">
				</div>
			</div>

			<div class="btn-group" style="display: flex;" role="group">
				<button id="Plus-btn"  type="button" class="btn btn-outline-dark">+</button>
				<button id="Minus-btn" type="button" class="btn btn-outline-dark">-</button>
				<button id="Multiply-btn" type="button" class="btn btn-outline-dark">*</button>
				<button id="Divide-btn" type="button" class="btn btn-outline-dark">/</button>
				<button type="reset" class="btn btn-outline-danger">Xoá</button>
			</div>
		</form>
		<div class="p-2 mt-1 border rounded">
			<div class="row">
				<label for="m" class="col-md-2 col-form-label fw-bold">Kết quả </label>
				<div class="col-md-10">
					<input type="text" id="output" readonly class="p-1 text-info form-control-plaintext" value="">
				</div>
			</div>
		</div>
	</div>

	<script src="~/Scripts/bootstrap.js"></script>
	<script src="~/Scripts/jquery-3.6.0.min.js"></script>

	<script src="~/Scripts/Default/index.js"></script>

</body>
</html>