
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <p>
        Đây là nội dung chi tiết bản tin "@ViewBag.NewsCode"
    </p>
</body>
</html>
