
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>News</title>
</head>
<body>
	<h1>Bản tin cuối ngày</h1>
	<article>
		Microsoft vừa công bố bản vá lỗi cho Window 7
		<a href="/News/Detail?newsCode=Tin01">Xem chi tiết</a>
	</article>
</body>
</html>
