
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>DocBao</title>
	<style>
		a {
			text-decoration:none;
		}
	</style>
</head>
<body>
	<p>
		Lợi ích của việc đọc báo
		<ul>
			<li>Mở rộng kiến thức</li>
			<li>Cập nhật thông tin</li>
			<li>Rèn luyện trí nhớ</li>
			<li>Giải trí ít tốn kém</li>
			<li>...</li>
		</ul>
	</p>
	<div>
		<ul style="list-style-type: none;">
			<li style="background-color: aquamarine"><a href="https://tuoitre.vn/">Tuổi trẻ</a></li>
			<li style="background-color: aquamarine"><a href="https://vnexpress.net/">Tin nhanh</a></li>
			<li style="background-color: aquamarine"><a href="https://thanhnien.vn/">Thanh niên</a></li>
			<li style="background-color: aquamarine"><a href="https://nld.com.vn/">Người lao động</a></li>
		</ul>
	</div>
</body>
</html>
