
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Download</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<ul class="list-group w-50 ms-1 mt-1">
		<li class="list-group-item">
			Bài tập thực hành Lab01
			<a href="https://tailieu.hiepsiit.com/vendors/viewpdf/viewer.html?file=https://tailieu.hiepsiit.com/docs/Lab02 - Cac doi tuong.Net.pdf">
				Click để download
			</a>
		</li>
		<li class="list-group-item">
			Bài tập thực hành Lab01
			<a href="/Download/Download" download style="text-decoration: none; ">
				<img src="~/Assets/download.png" width="30" height="30" />
				Tải về
			</a>
		</li>
	</ul>

	<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
